.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 0 50px;

    &Btn {
        cursor: pointer;
        background-color: transparent;
        color: #f4a460;
        border: 1px solid #f4a460;
        font-size: 18px;
        border-radius: 4px;
        padding: 5px 10px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

        &:hover {
            background-color: #195A94;
            color: #fff;
            border-color: #195A94;
        }
    }

    .active {
        background-color: #195A94;
        color: #fff;
        border-color: #195A94;
    }
}