.form {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &Container {
        padding: 50px 30px;
        background-color: #fff;
        border-radius: 30px;
        width: 900px;
        position: relative;
        overflow: hidden;
    }

    &Wrapper {
        position: relative;
        min-height: 300px;
        overflow: hidden;
    }

    &Registration {
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
            z-index: 999;
        }
    }

    &Login {
        transform: translateX(100%);
        right: 0;

        &.active {
            transform: translateX(0%);
            z-index: 999;
        }
    }

    &Item {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        transition: all .6s ease-in-out;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            margin: 0 0 20px;
            font-size: 32px;
        }
    }

    &Content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            width: 50%;
            margin: 0 auto;
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: rgba(25, 90, 148, 0.2);
            font-size: 14px;
            color: rgba(25, 90, 148, 0.8);

            &::placeholder {
                font-size: 14px;
                color: rgba(25, 90, 148, 0.4);
            }
        }
    }

    &Banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &Item {
            position: absolute;
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #195A94;
            padding: 40px;
            box-sizing: border-box;
            transition: all .6s ease-in-out;
            z-index: 999;

            .btnForm {
                border: 1px solid #fff;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #195A94;
                }
            }
        }

        &Title {
            font-size: 32px;
            color: #fff;
            margin: 0 0 40px;
        }

        &Text {
            font-size: 20px;
            color: #fff;
            margin: 0 0 20px;
            text-align: center;
        }

        &Registration {
            right: 0;
            transform: translateX(100%);
            border-radius: 100px 0 0 100px;

            &.active {
                transform: translateX(0);
            }
        }

        &Login {
            left: 0;
            transform: translateX(-100%);
            border-radius: 0 100px 100px 0;

            &.active {
                transform: translate(0);
            }
        }
    }
}

.btnForm {
    width: max-content;
    padding: 5px 15px;
    margin: 0 auto;
    outline: none;
    border: 1px solid rgba(25, 90, 148, 0.4);
    border-radius: 7px;
    background-color: transparent;
    color: rgba(25, 90, 148, 0.6);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    cursor: pointer;
    line-height: 1;
    font-size: 12px;
    margin: 10px auto 0;

    &:hover {
        background-color: rgba(25, 90, 148, 0.4);
        color: #fff;
    }
}

