* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}