.header {
    margin: 0 0 50px;
    background-color: rgba(25, 90, 148, .4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.wrapper {
    padding: 30px 50px;
    display: flex;
    gap: 40px;

    a {
        display: block;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        transition: color .3s ease-in-out;

        &:hover {
            color: #195A94;
        }
    }
}