.news {
    margin: 0 0 100px;
}
.wrapper {
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
}
.block {
    width: calc(33.333% - 40px / 3);

    &Imgbox {
        max-width: 100%;
        margin: 0 0 18px;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            display: block;
            max-height: 245px;
            height: 100%;
        }
    }

    &Date {
        position: relative;
        font-size: 12px;
        font-weight: 400;
        color: #747474;
        padding: 0 35px;
        line-height: 30px;
        margin: 0 0 15px;

        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: url(/public/images/date-icon.svg) no-repeat;
        }
    }

    &Title {
        font-size: 22px;
        font-weight: 600;
        color: #195A94;
        margin: 0 0 18px;
    }

    &Description {
        font-size: 16px;
        color: #747474;
        font-weight: 400;
        padding: 0 0 18px;
        margin: 0 0 18px;
        border-bottom: 1px solid #747474;
        min-height: 36px;
    }

    &Author {
        display: flex;
        gap: 15px;
        align-items: center;

        &Imgbox {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &Name {
            font-size: 13px;
            font-weight: 600;
            color: #747474;
        }
    }

    &Footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &Tags {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin: 0 0 15px;

        li {
            list-style-type: none;
            padding: 5px 20px;
            border-radius: 5px;
            border: 1px solid #f4a460;
            color: #f4a460;
        }
    }
}